{{>header}}
 
 <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                 
                    <!-- right side div -->
                    <div class="col-md-6 col-12 main_header_right">
                        <img src="https://www.seekpng.com/png/detail/825-8254341_404-error-not-found.png" alt="404 Error Not Found@seekpng.com">
                    </div> 
                  <div class="col-md-6 col-12 main_header_left">
                        <a href="/"><button>HOME</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
                
{{>footer}}