{{>header}}
<div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="main_content">
                  <form class="temp_form">
                    <input type="text"  id="CityName" placeholder="Enter city Name" autocomplete="off">
                    <input type="submit" value="search" id ="sumbitBtn">
                  </form>
                  <div class="temp_info">
                    <div class="top_layer">
                      <p id ="day">day</p>
                      <p id ="today_date">date</p>
                    </div>
                    <div class="main_layer">
                      <p id ="city_name">Get output here</p>
                      <div class="middle_layer">
                      <p id="temp"><span>0</span></p>
                      <p id="temp_status"><i class="fa fa-cloud" aria-hidden="true"></i></p>
                    </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/main.js"></script>
{{>footer}}